
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    padding: 2rem;
    row-gap: 2vh;
    column-gap: 3vh;
    max-height: 150vh;
}
.card{
    margin: 1%;
    border-radius: 16px;
    box-shadow: 0 8px 24px  rgba(17,17,26,0.1), 0 16px 56px  rgba(17,17,26,0.1), 0 24px 80px  rgba(172, 172, 175, 0.1), 0 0 0  currentColor, 0 0 0  currentColor;
}