<body>
    <header>
        <nav id="nav-perfil">
            <a href="" class="logo">Pagina</a>
            <ul>
                <li><a [routerLink]="['producto']">Producto</a></li>
                
                <li><a [routerLink]="['producto-form']">Producto-forom</a></li>
                <li><a [routerLink]="['ticket']">Lista-Ticket</a></li>
                <li><a [routerLink]="['ticket-form']">Ticket-form</a></li>
                <li><a [routerLink]="['transaccion-form']">Transacciones Form</a></li>
                <li><a [routerLink]="['transaccion-list']">Transacciones</a></li>
                
            </ul>
        </nav>
    </header>
</body>