
<body>
<br>
<a class="btn btn-danger ms-2" [routerLink]="'/transaccion-form'">Hacer una nueva Transaccion</a>
<br>
<br>
<br>

<button (click)="getTransacciones()" class="button">Mostrar todas las transacciones</button>
<br>
<!---->
<div>
    <br>
    <div class="search-bar ms-2">
    <form #listaForm="ngForm">
        <label for="emailSearched" class="form-label">Email:</label>
        <input name="emailSearched" id="emailSearched" class="form-control" type="email" placeholder="Buscar transaciones del email" [(ngModel)]="emailSearched" required #emailInput="ngModel">
            <div *ngIf="listaForm.controls['emailSearched'].invalid && (listaForm.controls['emailSearched'].dirty || listaForm.controls['emailSearched'].touched)" class="alert alert-danger my-1 p-1">
                <div *ngIf="listaForm.controls['emailSearched'].errors?.['required']">
                El email es requerido
                </div>
                <div *ngIf="listaForm.controls['emailSearched'].errors?.['emailSearched']">
                El email ingresado no es válido
                </div>
            </div>
        <button (click)="getTransaccionesEmail()" class="btn-search" [disabled]="listaForm.invalid">
            <i class="bi bi-search"></i>Buscar
        </button>
    </form>
</div>
<div class="search-bar">
    <form #convertForm="ngForm">
        <div class="mb-3 ms-2">
            <label for="divisaOrigen" class="form-label">Divisa origen:</label>
            <select class="form-select" aria-label="select category" id="divisaOrigen" name="divisaOrigen" [(ngModel)]="divisaOrigen" required>
                <option [value]="d" *ngFor="let d of divisas">{{d}}</option>
            </select>
            <div class="alert alert-danger my-1 p-1" *ngIf="convertForm.controls['divisaOrigen'].invalid && (convertForm.controls['divisaOrigen'].dirty || convertForm.controls['divisaOrigen'].touched)">
                <div *ngIf="convertForm.controls['divisaOrigen'].errors?.['required']">
                La divisa es requerida
                </div>
            </div>
            </div>
        
            <div class="mb-3 ms-2">
            <label for="divisaDestino" class="form-label">Divisa destino:</label>
            <select class="form-select" aria-label="select currency" id="divisaDestino" name="divisaDestino" [(ngModel)]="divisaDestino" required>
                <option [value]="d" *ngFor="let d of divisas">{{d}}</option>
            </select>
            <div class="alert alert-danger my-1 p-1" *ngIf="convertForm.controls['divisaDestino'].invalid && (convertForm.controls['divisaDestino'].dirty || convertForm.controls['divisaDestino'].touched)">
                <div *ngIf="convertForm.controls['divisaDestino'].errors?.['required']">
                La divisa es requerida
                </div>
            </div>
            </div>
            <button (click)="getTransaccionesDivisas()" class="btn-search" [disabled]="convertForm.invalid">
                <i class="bi bi-search"></i>    Buscar por divisas
            </button>
    </form>
</div>
</div>
<br>
<br>
<h3 class="ms-2">Listado Transacciones</h3>
<br>
<div class="container ms-2">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Moneda Origenn</th>
                <th scope="col">Cantidad Origen</th>
                <th scope="col">Moneda destino</th>
                <th scope="col">Cantidad destino</th>
                <th scope="col">Tasa de conversion</th>
                <th scope="col">Email de cliente</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of transacciones">
                <th scope="row">{{ t.monedaOrigen}}</th>
                <td>{{t.cantidadOrigen  | number:'1.1-4'}}</td>
                <td>{{t.monedaDestino}}</td>
                <td>{{t.cantidadDestino  | number:'1.1-4'}}</td>
                <td>{{t.tasaConversion  | number:'1.1-4'}}</td>
                <td>{{t.emailCliente}}</td>
            </tr>
        </tbody>
    </table>
</div>