
<body>
<br>
<button class="btn btn-succes"><a class="button" [routerLink]="['/ticket-form']">Agregar</a></button>
<br>
<br>
<br>
<h3 class="ms-2">Listado Tickets</h3>
<br>
    <div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">DNI</th>
                <th scope="col">Precion Real</th>
                <th scope="col">Tipo de Expectador</th>
                <th scope="col">Fecha de Cobro</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of tickets">
                <th scope="row">{{ t.Espectador.dni}}</th>
                <td>{{t.precioTicket}}</td>
                <td>{{t.categoriaEspectador}}</td>
                <td>{{t.fechaCompra | date}}</td>
                <td>
                    <button class="btn btn-success" (click)="modificarTicket(t)">Modificar</button>
                </td>
                <td>
                    <button class="btn btn-danger" (click)="eliminarTicket(t)">Eliminar</button>
                </td>
                <td>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<br>
<h5  class="ms-2">Tickets de espectador local</h5>
<h6  class="ms-2">Total: {{totalL}}</h6>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">DNI</th>
                <th scope="col">Precion Real</th>
                <th scope="col">Tipo de Expectador</th>
                <th scope="col">Fecha de Cobro</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of ticketsb">
                <th scope="row">{{ t.Espectador.dni}}</th>
                <td>{{t.precioTicket}}</td>
                <td>{{t.categoriaEspectador}}</td>
                <td>{{t.fechaCompra | date}}</td>
                <td>
                    <button class="btn btn-success" (click)="modificarTicket(t)">Modificar</button>
                </td>
                <td>
                    <button class="btn btn-danger" (click)="eliminarTicket(t)">Eliminar</button>
                </td>
                <td>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<br>
<h5  class="ms-2">Tickets de espectador extranjero</h5>
<h6  class="ms-2">Total: {{totalE}}</h6>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">DNI</th>
                <th scope="col">Precion Real</th>
                <th scope="col">Tipo de Expectador</th>
                <th scope="col">Fecha de Cobro</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of ticketsc">
                <th scope="row">{{ t.Espectador.dni}}</th>
                <td>{{t.precioTicket | number:'1.1-4'}}</td>
                <td>{{t.categoriaEspectador}}</td>
                <td>{{t.fechaCompra | date}}</td>
                <td>
                    <button class="btn btn-success" (click)="modificarTicket(t)">Modificar</button>
                </td>
                <td>
                    <button class="btn btn-danger" (click)="eliminarTicket(t)">Eliminar</button>
                </td>
                <td>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>